* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    max-width: 1400px;
    font-size: 1rem;
    margin: 0 auto;
    font-family: sans-serif;
}

body {
    background-color: #fff;
}

header {
    background: linear-gradient(90deg,#0E34A0, #2F3061);
    text-align: center;
    color: #fff;
    padding: .8rem 0;
    margin-bottom: .5rem;
}

main {
    padding: 0 .4rem;
}
 
main form {
    display: flex;
    flex-direction: column;
    padding: .4rem .8rem;
    margin-bottom: .8rem;
}

main form > *:not(:last-child) {
    margin-bottom: .5rem;
}

main form input,
main form button {
    border-radius: 5px;
    padding: .4rem;
    border: none;
}

main form input {
    padding: 5px;
    border: 1px solid;
}

main form button {
    background-color: #134EF1;
    color: #fff;
}

main form button:hover {
    cursor: pointer;
}

.searched-cities {
    border-top: 1px solid #000;
    margin: .3rem;
}

.searched-cities:hover {
    cursor: pointer;
}

.searched-city-paragraph {
    background-color: #bac1b8;
    text-align: center;
    padding: .2rem 0;
    margin: .3rem;
}

.weather {
    display: flex;
    flex-direction: column;
}

.weather-container { 
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: .3rem;
}

.current-weather .weather-container {
    margin: 0;
    padding: .4rem .8rem;
}

.current-weather {
    border: none;
    padding: .4rem;
}

.weather-details-container {
    display: flex;
}

.five-day-forecast .weather-container {
    background-color: #E3D5CA;
    padding: .4rem .8rem;
}

.weather-details-container > * {
    padding: .4rem 0;
}

.weather-details-container div > * {
    line-height: 2rem;
}

.weather-details-container div:last-child {
    flex: 1;
    display: flex;
    justify-content: center;
}

.five-day-header {
    display: none;
    padding: .5rem 0;
    text-align: center;
}

@media (min-width: 481px) {

    main {
        align-items: flex-start;

    }

    .weather {
        flex: 1;
    }

    .five-day-header {
        text-align: left;
        margin: 1rem 0;
        padding: .4rem .8rem;
    }

    .five-day-forecast {
        display: flex;
        flex-wrap: wrap;
    }

    .five-day-forecast .weather-container {
        min-width: 180px;
        max-width: 300px;
        margin: .3rem;
        flex: 1;
        padding: .4rem .8rem;
        background-color: #E3D5CA;
    }

    .five-day-forecast .weather-details-container {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .five-day-forecast .weather-details-container div:last-child {
        justify-content: flex-start;
        margin-bottom: 0;
    }
}

@media (min-width: 769px) {
    main {
        display: flex;
    }

    main form {
        margin-left: 0;
        margin-right: .8rem;
    }

    .current-weather {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .current-weather > * {
        width: 100%;
    }

    .current-weather .weather-details-container div:last-child {
        justify-content: flex-start;
        padding-left: 1rem;
    }

    .five-day-forecast {
        padding: .4rem .8rem;
    }
}

@media (min-width: 1209px) {
    
    .five-day-forecast {
        padding: 0;
    }

    .five-day-forecast .weather-container:first-child {
        margin-left: 0;
    }
}