* {
    margin: 0;
    padding: 0;
}

img {
    /* width: 100%; */
    object-fit: cover;
}

html {
    font-family: sans-serif;
}

header {
    background: linear-gradient(90deg,#0E34A0, #2F3061);
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

header h1 {
    padding: 20px;
}

main {
    margin: 0 5px;
}

main form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

main form > * {
    margin-bottom: 5px;
    border-radius: 5px;
}

main form h2 {
    margin-bottom: 5px;
}


main form input {
    padding: 5px;
}       

main form button {
    background-color: #134EF1;
    padding: 5px;
    border: none;
    color: #fff;
    font-weight: bold;
}

/* current weather div */
/* <h3>${currentData.name} (${moment.unix(currentData.dt).format('DD/MM/YYYY')})</h3> */
/* <div class="flex-container"> */
    /* <div> */
        /* <p>Temp: ${currentData.main.temp} \u00B0C</p> */
        /* <p>Wind: ${currentData.wind.speed} KPH</p> */
        /* <p>Humidity: ${currentData.main.humidity}%</p> */
    /* </div> */
    /* <div> */
        /* <img src=https://openweathermap.org/img/w/${currentData.weather[0].icon}.png> */
    /* </div> */
    /* </div> */

.current-weather,
.five-day-forecast {
    padding: 5px;
    margin: 0 auto;
    max-width: 250px;
}

.current-weather h3,
.five-day-forecast h3 {
    background-color: #E3D5CA;
    padding: 5px;
}

.current-weather div:first-child {
    display: flex;
    flex-direction: column;
}

.flex-container {
    background-color: #E3D5CA;
    display: flex;
    margin-bottom: 10px;
    padding: 5px;
}

.flex-container p {
    margin-bottom: 2px;
}

.flex-container div:last-child {
    flex: 1;
    display: flex;
    justify-content: center;
}

.five-day-header {
    display: none;
    text-align: center;
    padding: 0px 5px;
}
